* {
    background-color:#fcf5e8;
    font-family: "Times New Roman";
}

.card {
    max-width:400px;
    margin:auto;
    padding:10px;
}

.title {
    font-weight:bold;
    margin:0;
}

.tagline {
    font-weight:bold;
    font-style:italic;
    margin:0;
}

.list-recipes {
    padding:0px;
}

.list-recipes li {
    list-style:none;
}

.list-item-recipe {
    text-decoration:none;
    color:black;
    margin:4px 0;
    border: 1px solid transparent;
    display:block;
}

a.list-item-recipe:hover {
    border-bottom: 1px solid #000000;
}
